<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="skyblue">
<form action="register" method="post">
    {% csrf_token %}
    <h1>Register</h1>
    <input type="text" name="username" placeholder="enter your UserName"><br>
    <input type="password" name="password" placeholder="Enter Your password"><br>
    <input type="password" name="confirm_password" placeholder="confirm password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>